#root {
  font-family: Serif;
  flex-direction: column;
  width:90vh;
  height:fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1{
  font-size: 34px;
  text-align: left;
  width:90%;
}
h2 {
  width:100%;
  font-size:large;
  text-align: left;
}
h3{
  text-align: right;
  color: white;
  background-color: black;
  width:95%;
  padding:10px;
}
.articles-list{
  display: inline-flex;
  flex-direction: column;
  justify-content:center;
}
.article-card{
  text-align: left;
  width: 90%;
  display: flex;
  margin:0;
}
.article-card-img{
  width:80%;
  min-width:200px;
  max-width:600px;
  object-fit:contain;
  align-self:flex-start;
}
.article-card-details{
  flex: 1 1 auto;
  width:80%;
}
.single-article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:90%;
  padding-top: 10px;
  box-sizing: border-box;
}
.single-article-img{
  width: 80%;
  /* margin: 20px auto; */
}