#root {
  font-family: Serif;
  flex-direction: column;
  width:100vh;
  height:fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1{
  font-size: 72px;
  text-align: left;
  padding-bottom:20px;
}
h2 {
  font-size:large;
  text-align: left;
}
h3{
  text-align: right;
  color: white;
  background-color: black;
  width:100;
  padding:20px;
}
.articles-list{
  display: inline-flex;
  flex-direction: column;
  justify-content:center;
}
.article-card{
  text-align: left;
  padding: 10px 10px 10px;
  width: 90%;
  display: flex;
}
.article-card-img{
  margin: 20px 30px 00;
  width:300px;
  object-fit:contain;
  align-self:flex-start;
}
.article-card-details{
  flex: 1 1 auto;
}
.single-article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.single-article-img{
  max-width: 100%;
  height: auto;
  margin: 30px auto;
}