#root {
  font-family:serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: auto;
  text-align: center;
}
h1 {
  font-size: 40px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  color: rgb(120, 139, 228);
}
#header-date{
  font-size: smaller;
}
.header-banner{
  width: 100vw;
  height: 20vh;
  top:0;
  background-color: white;;
  position:fixed;
  color:#8383b3;
  padding-top: 10px;
  line-height: 50%;
}
#logo1{
  color:#2b317a
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
h3 {
  color: rgb(253, 252, 252);
}
.articles-list {
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
}
a {
  font-weight: 500;
  color: #fbfbfc;
  text-decoration: inherit;
  padding: 0.5rem;
}
a:hover {
  color: #0a0a0a;
  background-color: #2b317a;
  padding: 0.5rem;
}
.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}
.article-card-img {
  width: 100%;
  max-width: 600px;
}
.article-card-details {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.single-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}
.art-title {
  margin-block-start: auto;
  font-weight: bold;
  color: #080808;
}
.art-title:hover {
  color: #696bb1;
}
.art-topic {
  background-color: #8383b3;
  padding: 0.1rem;
  color: white;
}
.art-section-a {
  float: right;
  text-align: left;
  color: black;
}
.art-section-c {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.single-article-img {
  width: 50%;
  float: left;
  margin-right: 16px;
}
.comments-list {
  width: 50%;
}
.comment-card {
  display: block;
  font-size: small;
  border: solid rgb(237, 237, 241);
}
.comment-body {
  width: 100%;
}
.comment-vote {
  text-align: right;
  margin-right: 2rem;
}
.article-vote {
  width: 25%;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.article-vote-count {
  font-size: small;
  text-align: center;
  font-weight: 1000;
  padding-right: 10px;
}
.vote-button {
  font-size: small;
  align-items: center;
  margin: 5px;
}
.comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: black;
  background-color: white;
  width: 80%;
}
#delete-button {
  margin-bottom: 1rem;
}
.navbar {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fcf9f9;
  padding-right: 1rem;
  border-style: solid;
  border-color: rgba(74, 74, 192, 0.2);
}
.dropdown {
  position: relative;
}
.dropdown .drop-button {
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}
.navbar .link-style:hover,
.dropdown:hover .drop-button {
  background-color: #2b317a;
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  font-size: inherit;
  font-weight: inherit;
  background-color: #ebe1e1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content .link-style {
  float: none;
  color: #0d0d11;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content .link-style:hover {
  background-color: #7478b8;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.sort {
  margin: 2%;
}
.sort-button {
  font-size: small;
  margin-left: 10px;
  padding: 5px;
}
